html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    overflow:hidden;
}
/*** DIMENTIONS ***/
#container,
.border, 
.bg_exit,
.bg_end {
    width: 300px;
    height: 250px;
}
#container {
    position: relative;
    overflow: hidden;
    display: none;
}
#container div,
#container img {
    position: absolute;
}
.border {
    box-sizing:border-box;
    border:1px solid #e2dede;
}
.bg_exit {
    background-color:#358287;
    cursor: pointer;
}
.bg_end {
    background-color:#358287;
    opacity: 0;
}
.cta {
    width: 111px;
    height: 36px;
    cursor: pointer;
    overflow: hidden;
}
