body,
div,
img,
a,
span,
canvas {
    padding: 0;
    margin: 0;
}

.container,
.border,
.clickTag {
    width: 300px;
    height: 250px;
}

.container {
    position: relative;
    overflow: hidden;
    background-color: #1b1311;
    display: none;
}

.container div,
.container img,
.container canvas,
.container a {
    position: absolute;
}

.border {
    border: 1px solid #000;
    box-sizing: border-box;
}

.logo {
    top: 7px;
    left: 8px;
}

.light {
    left: 0;
    opacity: 0.35;
}


.frame3 {
    left: -81px;
}

.claim {
    top: 125px;
    left: 177px;
}

.hashtag-canvas {
    top: 87px;
    left: 61px;
}
.hashtag_slogan {
    top: 235px;
    left: 84px; 
}

.product {
    top: 31px;
    left: 115px;
}

.slogan {
    top: 221px;
    left: 35px;
}

.cta {
    top: 179px;
    left: 72px;
}
